@charset "UTF-8";

.high-scores{
    width:760px;
}
.row{
    display:flex;
    justify-content: space-between;
    width:200px;
}
#menus h2{
    text-align: center;
    font-size: 36px;
    color: rgb(234, 8, 246);
}



