@charset "utf-8";
/* CSS Document */

.hidden {
    display: none;
}

.error-message{
	color: hotpink;
}

#form 
{
	position:relative;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	background-color:#aaa;
	border: 1px solid black;
	padding: 10px;
}

#confirmation
{
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color:#3b72c4;
	border: 1px solid rgb(59, 8, 50);
	padding: 20px;
	
}

